<h3>Departments</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of departments">
            <td>{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>
                <button class="btn btn-sm btn-warning" (click)="editDepartment(d)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteDepartment(d.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<div *ngIf="selectedDepartment" class="card p-3 mt-3">
    <h5>{{ selectedDepartment.id === 0 ? 'Add Department' : 'Edit Department' }}</h5>
    <div class="mb-2">
        <label>Name</label>
        <input class="form-control" [(ngModel)]="selectedDepartment.name">
    </div>
    <button class="btn btn-success mb-3" (click)="saveDepartment(selectedDepartment)">Save</button>
    <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
</div>

<button class="btn btn-primary mt-3" (click)="addNewDepartment()">Add New Department</button>